@model AplicCatalog.Models.IncadrareMateriePlan

@{
    ViewBag.Title = "Modifica Nr Ore";
}

<h2>Modifica Nr Ore</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
      
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.IdMaterie)
        @Html.HiddenFor(model => model.IdPlan)
        @Html.HiddenFor(model => model.IdincadrareMat)
        <div class="form-group">
            @Html.Label("Nume Materie", new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBox("Nume Materie", (string)ViewBag.NumeMaterie, new { id = "NumeMaterie", @readonly = "readonly" })

            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.NrOre, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.NrOre, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.NrOre, "", new { @class = "text-danger" })
            </div>
        </div>

       
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Modifica" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Inapoi la Lista", "Index")
</div>
