@model AplicCatalog.Models.Profesor

@{
    ViewBag.Title = "Modificare";
}

<h2>Modificare materii</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Profesor</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.IdProfesor)

        <div class="form-group">

            @Html.Label("Email", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.user.Email, new { id = "email", @readonly = "readonly" })

            </div>
        </div>
        <div class="form-group">
            @Html.Label("Nume Profesor", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Nume, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Nume, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <table>
                    <tr>
                        @{
                            int cnt = 0;
                            List<AplicCatalog.viewModel.MaterieAsignata> materii = ViewBag.Materii;


                            foreach (var materie in materii)
                            {
                                if (cnt++ % 3 == 0)
                                {
                                    @:</tr><tr>
                                  }
                                @:<td>
                                    <input type="checkbox"
                                           name="selectedMaterii"
                                           value="@materie.IdMaterie"
                                           @(Html.Raw(materie.asignat ? "checked=\"checked\"" : "")) />
                                         @materie.NumeMaterie
                                        @:</td>
                    }
                            @:</tr>
                        }
                    </table>
                </div>
            </div>

            

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Modifica" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Inapoi la Lista", "Index")
</div>
