@model AplicCatalog.Models.Materie

@{
    ViewBag.Title = "Stergere Materie";
}

<h2>Stergere Materie</h2>

<h3>Sigur doresti sa stergi aceasta materie?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NumeMaterie)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumeMaterie)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Comentariu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Comentariu)
        </dd>
      

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-actions no-color">
            <input type="submit" value="Sterge" class="btn btn-default" /> |
            @Html.ActionLink("Inapoi la Lista", "Index")
        </div>
    }
</div>
